
  
    <nav id="navbar-example2" class="navbar navbar-white bg-warning px-3 fixed-top fs-2 fw-bolder  ">
        <a class="navbar-brand fs-2 fw-bolder text-white" href="# ">booking burger</a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/formation"> formation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact"> contact</a>
          </li>

          
          
          
        </ul>
      </nav>